@{
    ViewData["Title"] = "Home Page";
}



    <div class="body-wrap boxed-container">
        <header class="site-header">
        </header>

        <main>
        <section class="hero text-light text-center">
            <div class="container-sm">
                <div class="hero-inner">
                    <h1 class="hero-title h2-mobile mt-0 is-revealing">Inventory Management System</h1>
                    <p class="hero-paragraph is-revealing">Our inventory management system is designed to work seamlessly across all devices, giving you a hassle-free setup with accurate, real-time results anytime, anywhere.</p>
                    <div class="hero-media">



                    </div>
                </div>
            </div>
        </section>

        </main>
    </div>
    


