/* General Styles */
#products .centered-image {
    text-align: center;
}

    #products .centered-image img {
        max-width: 50px;
        height: auto;
        object-fit: contain;
        display: inline-block;
    }

.content-header.form-container {
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: -15px auto 15px;
    max-width: calc(100% - 30px);
    transition: border-color 0.3s;
}

#accordion .box-title {
    font-size: 20px;
}

/* Filter Icon and Text */
.filter-icon, .filter-text {
    color: #3c8dbc;
}

/* Filter Header */
.filter-header {
    height: 60px; /* Fixed height */
    position: relative; /* For positioning */
    transition: height 0.3s ease; /* Smooth transition for height */
    margin-bottom: -25px; /* Adjust this if needed */
    padding: 0; /* Remove padding to avoid excess space */
}

/* Box Body */
.box-body {
    padding-top: 10px; /* Add padding at the top for the content */
}

.panel-collapse.collapse {
    height: auto; /* Allow it to expand naturally */
}

/* Additional Styles */
.header-title {
    margin-left: 10px;
    margin-top: 10px;
}

.product-title {
    font-size: 25px;
    font-weight: 500;
    display: inline-block;
}

.product-subtitle {
    font-size: 16px;
    color: #666;
}

.custom-label {
    color: #525f7f;
    font-weight: 600 !important;
    margin: 5px 0; /* Combined margin-top and margin-bottom */
}

.box-body hr {
    margin: 0; /* Reduce space around hr */
}

.form-control {
    height: 33px;
    font-size: 14px; /* Adjust font size if necessary */
    border-radius: 0;
}

/* Custom Header */
.custom-header {
    position: relative;
    height: 60px;
    font-size: 22px;
    color: #444444;
    font-weight: 500;
    line-height: 60px; /* Align text vertically within the height */
    padding: 0 10px;
    font-family: 'Arial', sans-serif;
}

/* Custom CSS for DataTable */
#products_wrapper .row {
    margin-bottom: 20px;
}

#products {
    background-color: #fff;
}

    #products thead {
        background-color: #3c8dbc;
        color: #fff;
    }

        #products thead th {
            text-align: center; /* Centers the text */
            vertical-align: middle;
        }

    #products tbody tr:hover {
        background-color: #f1f1f1;
    }

    #products .btn {
        margin-right: 5px;
    }


.dataTables_wrapper .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dataTables_wrapper .dataTables_length {
    order: 1;
    margin-right: auto;
}

.dataTables_wrapper .dt-buttons {
    order: 2;
    margin-left: auto;
    margin-top: -12px; /* Move buttons up by 5px */
}

.dataTables_wrapper .dataTables_filter {
    order: 3;
    margin-left: auto;
}



.dropdown-menu li a {
    padding: 5px 10px; /* Adjusts the padding */
    color: #525f7f; /* Changes text color to black */
}

    .dropdown-menu li a:hover {
        background-color: #f1f1f1; /* Optional: Change background color on hover for better visibility */
        color: #3c8dbc; /* Ensure text color remains black on hover */
    }


